*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 29, 29);
    color: aliceblue;

}

#header{
    width: 100%; 
    height: 100vh;
    background-image: url(images/big-screen.png);
    background-size: cover; 
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0%;
    height: 3px;
    background: #ff2424;
    position: absolute;
    left: 0;
    border-radius: 2px;
    bottom: -6px;
    transition: 0.3s;     
}

nav ul li a:hover::after{
    width: 100%;
}

.header_text{
    margin-top: 20%;
    font-size: 30px;

}
.header_text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header_text h1 span{
    color: #ff2424;
}

/* -------------about---------------- */

#about{
    padding: 80px 0;
    color: #a9a9a9;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width:100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff3030;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 100%;
    border-radius: 3px;
}


.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff8787;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -------------------services----------------- */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #3e3e3e;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
}