* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  z-index: -1;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/de.png);
  /* padding-top: 5%; */
  margin-bottom: 0%;
  background-size: contain;
  background-position: right;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-clip: content-box;
  z-index: 1;
  /*     
    background-size: cover; 
    background-position: center; */
}
#header::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  z-index: 2;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 50px;
  /* backdrop-filter: blur(50px); */
  -webkit-backdrop-filter: blur(50px);
  z-index: 20;
}

nav::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(50px);
  height: 100%;
  z-index: -1;
  right: 0;
  width: 100%;
}

.logo {
  width: 45px;
  margin-left: 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background: #ff2424;
  position: absolute;
  left: 0;
  border-radius: 2px;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header_text {
  margin-top: 20%;
  font-size: 30px;
  z-index: 10;
  position: relative;
}
.header_text h1 {
  font-size: 60px;
  margin-top: 20px;
}

@media only screen and (max-width: 1100px) {
  .header_text {
    text-shadow: 2px 1px 12px #ff0000;
    margin-top: 50%;
    font-size: 30px;
    z-index: 10;
    position: relative;
  }
  .header_text h1 {
    font-size: 60px;
    margin-top: 20px;
  }
}

.header_text h1 span {
  color: #ff2424;
}

/* -------------about---------------- */

#about {
  padding: 80px 0px;
  color: #a9a9a9;
  text-align: justify;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col1 {
  flex-basis: 35%;
}
.about-col1 img {
  width: 100%;
  border-radius: 30px;
}
.about-col2 {
  flex-basis: 60%;
}
.subtitle {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
@media only screen and (max-width: 400px) {
  .aboutme {
    padding-right: 20px;
  }
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff3030;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}
.tab-links.active-link::after {
  width: 100%;
  border-radius: 3px;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff5e5e;
  font-size: 14px;
}

.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* -------------------services----------------- */
#services {
  padding: 50px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #3e3e3e;
  padding: 40px;
  font-size: 15px;

  font-weight: 300;
  border-radius: 20px;
  text-align: justify;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: left;
}

.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background-color: #ff3030;
  transform: translateY(-10px);
}

/* -----------------------portfolio----------------- */
#portfolio {
  padding: 50px 0;
}

.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  
}

.work {
  border-radius: 20px;
  border-color: red;
  background: #3e3e3e;
  border: width 4px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 20px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(69, 69, 69, 0.803), #620000c4);
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: justify;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 200;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff2424;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background-color: #b7b7b761;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  width: fit-content;
  margin: 50px auto;

  border: 1px solid #ffffff;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
  text-align: center;
}
.btn:hover {
  background: #ff2424;
}

/* ------------contact----------------- */

#contact .container {
  padding-top: 60px;
}
.contact-left {
  /* margin-top: 30px; */
  margin: 30px;
  flex-basis: 40%;
}
.contact-right {
  margin: 30px;
  flex-basis: 40%;
}

.contact-left p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-left i {
  color: #ff2424;
  margin: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 31px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  margin-right: 15px;
  transition: 0.5s;
}

.social-icons a:hover{
  color: #ff3030;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff2424;
  font-size: large;
  width: 100%;
}
.btn.btn2:hover {
  background: #00000000;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #c7c7c7;
  padding: 15px;
  margin: 18px 0px;
  font-size: large;
  border-radius: 6px;
}

#msg {
  color: rgb(255, 255, 255);
  margin-top: -30px;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
  text-align: center;
  align-self: center;
  background-color: rgba(172, 255, 47, 0);
  border-radius: 10px;
  font-size: large;
  padding: 10px;
}

#load {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10px;
  height: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 48%;
  margin-right: 50%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 1%;
  border: 6px solid;
  border-color: #ff3030 transparent #ff3030 transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  margin-top: 20px;
}

/* ------------------for small screen------------- */

nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 750px) {
  #header {
    /* background-image: url("images/phone.png"); */
    background-size: contain;
    background-position: center;
    z-index: 1;
  }
  #header::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      0deg,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

  .header_text {
    margin-top: 50vh;
    text-shadow: 2px 1px 12px #ff0000;
    font-size: 16px;
    position: relative;
    z-index: 10;
  }

  .header_text h1 {
    font-size: 30px;
    z-index: 10;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    content: "";
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    z-index: 999;
    padding-top: 50px;
    transition: right 0.5s;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 15px;
    left: 25px;
    cursor: pointer;
  }
  .services-list div {
    font-size: 13px;
  }
  .subtitle {
    font-size: 30px;
  }
  .layer p {
    font-size: 15px;
  }
  .about-col1,
  .about-col2 {
    flex-basis: 100%;
  }
  .about-col1 {
    margin-bottom: 30px;
  }
  .tab-links {
    font-size: 16px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  #msg {
    margin-left: 30px;
    margin-right: 30px;
  }
  .copyright {
    font-size: 14px;
  }
}
